<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated modelxml -->
      <package
            uri="platform:/resource/ModelXML/model/modelxml.ecore"
            class="org.emoflon.ibex.modelxml.ModelxmlPackage"
            genModel="model/modelxml.genmodel"/>
   </extension>

</plugin>
