/.MarkesProcessor.java._trace
/.MarkesQuerySpecification.java._trace
/.MarkedProcessor.java._trace
/.MarkedQuerySpecification.java._trace
/MarkedProcessor.java
/MarkedQuerySpecification.java
/.EMoflon_Edge_Processor.java._trace
/.EMoflon_Edge_QuerySpecification.java._trace
/.EdgePackage_Package_packagesProcessor.java._trace
/.EdgePackage_Package_packagesQuerySpecification.java._trace
/.EdgeWrapperPackage_Package_packagesProcessor.java._trace
/.EdgeWrapperPackage_Package_packagesQuerySpecification.java._trace
/.CreateEdgeWrapperPackage_Package_packagesProcessor.java._trace
/.CreateEdgeWrapperPackage_Package_packagesQuerySpecification.java._trace
/.EMFEdgePackage_Package_packagesProcessor.java._trace
/.EMFEdgePackage_Package_packagesQuerySpecification.java._trace
/.DeleteEdgeWrapperPackage_Package_packagesProcessor.java._trace
/.DeleteEdgeWrapperPackage_Package_packagesQuerySpecification.java._trace
/.CreateEdgeWrapperFolder_Folder_foldersProcessor.java._trace
/.CreateEdgeWrapperFolder_Folder_foldersQuerySpecification.java._trace
/.DeleteEdgeWrapperFolder_Folder_foldersProcessor.java._trace
/.DeleteEdgeWrapperFolder_Folder_foldersQuerySpecification.java._trace
/.EMFEdgeFolder_Folder_foldersProcessor.java._trace
/.EMFEdgeFolder_Folder_foldersQuerySpecification.java._trace
/.EMFEdgePackage_Clazz_clazzsProcessor.java._trace
/.EMFEdgePackage_Clazz_clazzsQuerySpecification.java._trace
/.EdgeWrapperFolder_Folder_foldersProcessor.java._trace
/.EdgeWrapperFolder_Folder_foldersQuerySpecification.java._trace
/.CreateEdgeWrapperPackage_Clazz_clazzsProcessor.java._trace
/.CreateEdgeWrapperPackage_Clazz_clazzsQuerySpecification.java._trace
/.EdgeWrapperPackage_Clazz_clazzsProcessor.java._trace
/.EdgeWrapperPackage_Clazz_clazzsQuerySpecification.java._trace
/.DeleteEdgeWrapperPackage_Clazz_clazzsQuerySpecification.java._trace
/.CreateEdgeWrapperFolder_File_filesProcessor.java._trace
/.CreateEdgeWrapperFolder_File_filesQuerySpecification.java._trace
/.DeleteEdgeWrapperPackage_Clazz_clazzsProcessor.java._trace
/.EMFEdgeFolder_File_filesProcessor.java._trace
/.EMFEdgeFolder_File_filesQuerySpecification.java._trace
/.EdgeWrapperFolder_File_filesProcessor.java._trace
/.EdgeWrapperFolder_File_filesQuerySpecification.java._trace
/.DeleteEdgeWrapperFolder_File_filesProcessor.java._trace
/.DeleteEdgeWrapperFolder_File_filesQuerySpecification.java._trace
/.MissingEdgeWrapperFolder_Folder_foldersProcessor.java._trace
/.MissingEdgeWrapperFolder_Folder_foldersQuerySpecification.java._trace
/.ObsoleteEdgeWrapperFolder_Folder_foldersProcessor.java._trace
/.ObsoleteEdgeWrapperFolder_Folder_foldersQuerySpecification.java._trace
/.MissingEdgeWrapperFolder_File_filesProcessor.java._trace
/.MissingEdgeWrapperFolder_File_filesQuerySpecification.java._trace
/.MissingEdgeWrapperPackage_Clazz_clazzsProcessor.java._trace
/.MissingEdgeWrapperPackage_Clazz_clazzsQuerySpecification.java._trace
/.MissingEdgeWrapperPackage_Package_packagesProcessor.java._trace
/.MissingEdgeWrapperPackage_Package_packagesQuerySpecification.java._trace
/.ObsoleteEdgeWrapperPackage_Clazz_clazzsProcessor.java._trace
/.ObsoleteEdgeWrapperPackage_Clazz_clazzsQuerySpecification.java._trace
/.ObsoleteEdgeWrapperPackage_Package_packagesProcessor.java._trace
/.ObsoleteEdgeWrapperPackage_Package_packagesQuerySpecification.java._trace
/.ObsoleteEdgeWrapperFolder_File_filesProcessor.java._trace
/.ObsoleteEdgeWrapperFolder_File_filesQuerySpecification.java._trace
/.EMFEdgeFolder_File_eMoflonEdgeWrapper_filesProcessor.java._trace
/.EMFEdgeFolder_File_eMoflonEdgeWrapper_filesQuerySpecification.java._trace
/.EMFEdgePackage_Clazz_eMoflonEdgeWrapper_clazzsProcessor.java._trace
/.EMFEdgePackage_Clazz_eMoflonEdgeWrapper_clazzsQuerySpecification.java._trace
/.EdgeWrapperFolder_File_eMoflonEdgeWrapper_filesProcessor.java._trace
/.EdgeWrapperFolder_File_eMoflonEdgeWrapper_filesQuerySpecification.java._trace
/.EdgeWrapperPackage_Clazz_eMoflonEdgeWrapper_clazzsProcessor.java._trace
/.EdgeWrapperPackage_Clazz_eMoflonEdgeWrapper_clazzsQuerySpecification.java._trace
/.ExistingEdgeWrapperFolder_File_eMoflonEdgeWrapper_filesProcessor.java._trace
/.ExistingEdgeWrapperFolder_File_eMoflonEdgeWrapper_filesQuerySpecification.java._trace
/.MissingEdgeWrapperFolder_File_eMoflonEdgeWrapper_filesProcessor.java._trace
/.MissingEdgeWrapperFolder_File_eMoflonEdgeWrapper_filesQuerySpecification.java._trace
/.EMFEdgeFolder_Folder_eMoflonEdgeWrapper_foldersProcessor.java._trace
/.EMFEdgeFolder_Folder_eMoflonEdgeWrapper_foldersQuerySpecification.java._trace
/.EdgeWrapperFolder_Folder_eMoflonEdgeWrapper_foldersProcessor.java._trace
/.EdgeWrapperFolder_Folder_eMoflonEdgeWrapper_foldersQuerySpecification.java._trace
/.ExistingEdgeWrapperPackage_Clazz_eMoflonEdgeWrapper_clazzsProcessor.java._trace
/.ExistingEdgeWrapperPackage_Clazz_eMoflonEdgeWrapper_clazzsQuerySpecification.java._trace
/.MissingEdgeWrapperFolder_Folder_eMoflonEdgeWrapper_foldersProcessor.java._trace
/.MissingEdgeWrapperFolder_Folder_eMoflonEdgeWrapper_foldersQuerySpecification.java._trace
/.MissingEdgeWrapperPackage_Clazz_eMoflonEdgeWrapper_clazzsProcessor.java._trace
/.MissingEdgeWrapperPackage_Clazz_eMoflonEdgeWrapper_clazzsQuerySpecification.java._trace
/.EMFEdgePackage_Package_eMoflonEdgeWrapper_packagesProcessor.java._trace
/.EMFEdgePackage_Package_eMoflonEdgeWrapper_packagesQuerySpecification.java._trace
/.EdgeWrapperPackage_Package_eMoflonEdgeWrapper_packagesProcessor.java._trace
/.EdgeWrapperPackage_Package_eMoflonEdgeWrapper_packagesQuerySpecification.java._trace
/.ExistingEdgeWrapperFolder_Folder_eMoflonEdgeWrapper_foldersProcessor.java._trace
/.ExistingEdgeWrapperFolder_Folder_eMoflonEdgeWrapper_foldersQuerySpecification.java._trace
/.ExistingEdgeWrapperPackage_Package_eMoflonEdgeWrapper_packagesProcessor.java._trace
/.ExistingEdgeWrapperPackage_Package_eMoflonEdgeWrapper_packagesQuerySpecification.java._trace
/.MissingEdgeWrapperPackage_Package_eMoflonEdgeWrapper_packagesProcessor.java._trace
/.MissingEdgeWrapperPackage_Package_eMoflonEdgeWrapper_packagesQuerySpecification.java._trace
