/.ClazzToFileRule_CORR_CONTEXTProcessor.java._trace
/.ClazzToFileRule_CORR_CONTEXTQuerySpecification.java._trace
/.ClazzToFileRule_SRCProcessor.java._trace
/.ClazzToFileRule_SRCQuerySpecification.java._trace
/.ClazzToFileRule_SRC_CONTEXTProcessor.java._trace
/.ClazzToFileRule_SRC_CONTEXTQuerySpecification.java._trace
/.ClazzToFileRule_TRGProcessor.java._trace
/.ClazzToFileRule_TRGQuerySpecification.java._trace
/.ClazzToFileRule_TRG_CONTEXTProcessor.java._trace
/.ClazzToFileRule_TRG_CONTEXTQuerySpecification.java._trace
/ClazzToFileRule_CORR_CONTEXTProcessor.java
/ClazzToFileRule_CORR_CONTEXTQuerySpecification.java
/ClazzToFileRule_SRCProcessor.java
/ClazzToFileRule_SRCQuerySpecification.java
/ClazzToFileRule_SRC_CONTEXTProcessor.java
/ClazzToFileRule_SRC_CONTEXTQuerySpecification.java
/ClazzToFileRule_TRGProcessor.java
/ClazzToFileRule_TRGQuerySpecification.java
/ClazzToFileRule_TRG_CONTEXTProcessor.java
/ClazzToFileRule_TRG_CONTEXTQuerySpecification.java
