/.metadata/
/.DS_Store

org.emoflon.ibex.tgg.tests/testsuite2_familiestopersons/instances/corr.xmi

org.emoflon.ibex.tgg.tests/testsuite2_familiestopersons/debug/patterns.xmi

org.emoflon.ibex.tgg.tests/testsuite2_familiestopersons/instances/protocol.xmi

org.emoflon.ibex.tgg.tests/testsuite2_familiestopersons/instances/trg.xmi

*.log
