<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated StateModel -->
      <package
            uri="platform:/resource/StateModel/model/StateModel.ecore"
            class="org.emoflon.ibex.gt.StateModel.StateModelPackage"
            genModel="model/StateModel.genmodel"/>
   </extension>

</plugin>
