<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="TGGEngineBuilderExtension" name="TGGEngineBuilderExtension" schema="schema/TGGEngineBuilderExtension.exsd"/>
   <extension
         point="org.emoflon.ibex.common.slimgt.SlimGTBuilderExtension">
      <builder_extension
            builder="org.emoflon.ibex.tgg.compiler.builder.TGGPackageBuilder">
      </builder_extension>
   </extension>

</plugin>
