<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="Database.DatabasePackage" genModel="model/Database.genmodel" uri="platform:/plugin/Database/model/Database.ecore"/>
  </extension>
</plugin>
