<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension-point id="IBeXGTEngineBuilderExtension" name="IBeXGTEngineBuilderExtension" schema="schema/IBeXGTEngineBuilderExtension.exsd"/>
  <extension-point id="IBeXGTDependingBuilderExtension" name="IBeXGTDependingBuilderExtension" schema="schema/IBeXGTDependingBuilderExtension.exsd"/>
  <extension
        point="org.emoflon.ibex.common.slimgt.SlimGTBuilderExtension">
     <builder_extension
           builder="org.emoflon.ibex.gt.build.IBeXGtPackageBuilder">
     </builder_extension>
  </extension>
</plugin>
