<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SGTPatternModel -->
      <package
            uri="platform:/resource/org.emoflon.ibex.gt.sgtpatternmodel/model/SGTPatternModel.ecore"
            class="org.emoflon.ibex.gt.SGTPatternModel.SGTPatternModelPackage"
            genModel="model/SGTPatternModel.genmodel"/>
   </extension>

</plugin>
