<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension id="nature" name="IBeX TGG Nature" point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="org.emoflon.ibex.tgg.ui.ide.admin.IbexTGGNature">
       </run>
    </runtime>
    <builder
          id="org.emoflon.ibex.tgg.ui.ide.builder">
    </builder>
  </extension>
  <extension id="builder" name="IBeX TGG Builder" point="org.eclipse.core.resources.builders">
    <builder hasNature="true">
      <run class="org.emoflon.ibex.tgg.ui.ide.admin.IbexTGGBuilder"/>
    </builder>
  </extension>
</plugin>
