<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated IBeXPatternModel -->
      <package
            uri="platform:/resource/org.emoflon.ibex.patternmodel/model/IBeXPatternModel.ecore"
            class="org.emoflon.ibex.patternmodel.IBeXPatternModel.IBeXPatternModelPackage"
            genModel="model/IBeXPatternModel.genmodel"/>
   </extension>

</plugin>
