/.PackageToFolderRule.java._trace
/.PackageToFolderRule_CORR_CONTEXTMatch.java._trace
/.PackageToFolderRule_CORR_CONTEXTMatcher.java._trace
/.PackageToFolderRule_SRCMatch.java._trace
/.PackageToFolderRule_SRCMatcher.java._trace
/.PackageToFolderRule_SRC_CONTEXTMatch.java._trace
/.PackageToFolderRule_SRC_CONTEXTMatcher.java._trace
/.PackageToFolderRule_TRGMatch.java._trace
/.PackageToFolderRule_TRGMatcher.java._trace
/.PackageToFolderRule_TRG_CONTEXTMatch.java._trace
/.PackageToFolderRule_TRG_CONTEXTMatcher.java._trace
/PackageToFolderRule.java
/PackageToFolderRule_CORR_CONTEXTMatch.java
/PackageToFolderRule_CORR_CONTEXTMatcher.java
/PackageToFolderRule_SRCMatch.java
/PackageToFolderRule_SRCMatcher.java
/PackageToFolderRule_SRC_CONTEXTMatch.java
/PackageToFolderRule_SRC_CONTEXTMatcher.java
/PackageToFolderRule_TRGMatch.java
/PackageToFolderRule_TRGMatcher.java
/PackageToFolderRule_TRG_CONTEXTMatch.java
/PackageToFolderRule_TRG_CONTEXTMatcher.java
