<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><!--
--><plugin>
  <extension point="org.moflon.emf.codegen.URIPreferenceExtension">
    <uri_preference_extension class="org.emoflon.ibex.common.utils.URIPreferenceExtension"/>
  </extension>
  <extension point="net.sourceforge.plantuml.eclipse.diagramTextProvider">
    <diagramTextProvider providerClass="org.emoflon.ibex.common.visualization.IBeXPatternVisualizer"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="IBeXLanguage.IBeXLanguagePackage" genModel="model/Common.genmodel" uri="platform:/resource/org.emoflon.ibex.common/model/Common.ecore"/>
  </extension>
</plugin>
