<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated IBeXLanguage -->
      <package
            uri="platform:/plugin/org.emoflon.ibex.common/model/IBeXLanguage.ecore"
            class="IBeXLanguage.IBeXLanguagePackage"
            genModel="model/IBeXLanguage.genmodel"/>
   </extension>

</plugin>
